// invert everything using css filter
:root,
html { 
   background-color: white;
   filter: invert(100%);
}
 
* { 
   background-color: inherit;
}

// invert images and videos again so the colors appears normal
figure {
    filter: invert(100%);
}


img, video, embed,  svg {  
   filter: invert(100%);
}


