// invert everything using css filter
:root,
html { 
   background-color: white;
   filter: invert(100%);
}
 
* { 
   background-color: inherit;
}

// invert images and videos again so the colors appears normal

img, video, embed, figure, svg {  
   filter: invert(100%);
}

// fix for img tags insude figure element
picture img,
figure img {
    filter: invert(0%);
}


